<div class="main">
    <app-snavbar></app-snavbar>
    <div class="container-portal">
        <div>
            <h1 class="topic1">Activities</h1>
        </div>

        <div>
            <ul class="cards">
                <li>
                    <a href="/signs/signgame2" class="card">
                        <img src="../../assets/images/guesstheword.PNG" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                    <path />
                                </svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">Guess the word</h3>

                                </div>
                            </div>
                            <h4 class="card__description">-Come test your knowledge</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/signs/signgameone" class="card">
                        <img src="../../assets/images/guessthesign.PNG" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                    <path />
                                </svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">Guess the sign</h3>

                                </div>
                            </div>
                            <h4 class="card__description">-Come test your knowledge</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div>
        <h1 class="main"></h1>
    </div>
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>Designed By Team🙌</p>
    </div>
</div>