<div class="info-container">
    <div>
        <h1 class="topic1"> ASL Gestures</h1>
    </div>

    <div>


        <div class="container">
            <div class="card-group">
                <div class="card">
                    <img src="../../assets/images/thanks.png" class="card-img-top" alt="...">
                </div>


                <div class="card">
                    <img src="../../assets/images/animal.png" class="card-img-top" alt="...">
                </div>


                <div class="card">
                    <img src="../../assets/images/money.png" class="card-img-top" alt="...">

                </div>

            </div>

        </div>



        <div class="container">
            <div class="card-group">
                <div class="card">
                    <img src="../../assets/images/camera.png" class="card-img-top" alt="...">
                </div>


                <div class="card">
                    <img src="../../assets/images/chocolate.png" class="card-img-top" alt="...">

                </div>


                <div class="card">
                    <img src="../../assets/images/congratulations.png" class="card-img-top" alt="...">
                </div>

            </div>

        </div>

        <div class="container">
            <div class="card-group">
                <div class="card">
                    <img src="../../assets/images/environment.png" class="card-img-top" alt="...">
                </div>


                <div class="card">
                    <img src="../../assets/images/family.png" class="card-img-top" alt="...">

                </div>


                <div class="card">
                    <img src="../../assets/images/burger.png" class="card-img-top" alt="...">
                </div>

            </div>

        </div>
    </div>
    <div>
        <h1 class="topic1"> </h1>
    </div>
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>Designed By Team🙌</p>
    </div>
</div>