<div class="main">
    <app-snavbar style="margin-left: -100vw;"></app-snavbar>
    <div class="container">
        <div class="container-portal">
            <div>
                <h3 class="topic2">Guess the sign of the word?</h3>
            </div>
        </div>
        <div class = "scoreandquestions">
            <div class = "cell">Question {{questionnumber}} of 5</div>
            <div class = "cell">Score: {{score}}</div>
        </div>
        <div class="inputfield" style="color: white;font-size: 20px;font-family: cursive;">{{questions[questionnumber - 1].payload.doc.data().Question}}</div>
    </div>


    <div>
        <ul class="cards">
            <li (click) = "next('o1')">
                <div class="card" [ngClass]="{
                    'bord': picked == 'o1'
                }">
                    <img src= "{{questions[questionnumber-1].payload.doc.data().o1}}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                <path />
                            </svg>
                            <div class="card__header-text">
                                <h3 class="card__title">A</h3>

                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li (click) = "next('o2')">
                <div class="card"  [ngClass]="{
                    'bord': picked == 'o2'
                }">
                    <img src= "{{questions[questionnumber-1].payload.doc.data().o2}}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                <path />
                            </svg>
                            <!-- <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" /> -->
                            <div class="card__header-text">
                                <h3 class="card__title">B</h3>

                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li (click) = "next('o3')">
                <div class="card" [ngClass]="{
                    'bord': picked == 'o3'
                }">
                    <img src= "{{questions[questionnumber-1].payload.doc.data().o3}}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                <path />
                            </svg>
                            <!-- <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" /> -->
                            <div class="card__header-text">
                                <h3 class="card__title">C</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li (click) = "next('o4')">
                <div class="card" [ngClass]="{
                    'bord': picked == 'o4'
                }">
                    <img src= "{{questions[questionnumber-1].payload.doc.data().o4}}" class="card__image" alt="" />
                    <div class="card__overlay">
                        <div class="card__header">
                            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                                <path />
                            </svg>
                            <div class="card__header-text">
                                <h3 class="card__title">D</h3>

                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="success-button">
        <!-- <button type="button" class="success-button btn btn-success">Success</button> -->

        <button type="button" class="success-button btn btn-info" (click) = "gotonext()"> Next </button>
    </div>
    <div>
        <h1 class="main"></h1>
    </div>
    <div *ngIf = "gameend" class = "scoreboard">
        <img style="position: absolute; width:40vw;" src="../../assets/images/yay.gif">
        Score: {{score}}
        <button type="button" class="success-button btn btn-info" style = "z-index: 99;" (click) = "gotohome()"> Go to home </button>
    </div>
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>Designed By Team🙌</p>
    </div>
</div>