<nav class="navbar">

    <div class="links">
        <div class="nav-bar-item">
            <div class="nav-bar-item-text" routerLink="/portal">Portals</div>
        </div>
        <div class="nav-bar-item">
            <div class="nav-bar-item-text" routerLink="/video">Resources</div>
        </div>
        <!-- <div class="nav-bar-item" routerLink={{y.link}} *ngFor="let y of navdata">
            <div class="nav-bar-item-text">{{y.name}}</div>
        </div> -->
        <div class="logo" routerLink="/home">Aikyam</div>
        <div class="nav-bar-item">
            <div class="nav-bar-item-text" routerLink="/forum">Forum</div>
        </div>
        <div class="nav-bar-item">
            <div class="nav-bar-item-text" routerLink="/coursepage">Courses</div>
        </div>

        
        <div>
            <div class = "points cutom-btn btn-4">
                {{profile.payload.data().score}}
            </div>
            <div class="signout" id="signout" (click) = "logout()">
                Sign Out
            </div>
        </div>
        
    </div>
</nav>