<nav class="navbar">
   
    <div class="links">
        <div class="nav-bar-item" >
            <div class="nav-bar-item-text">Hello</div>
        </div>
        <!-- <div class="nav-bar-item" routerLink={{y.link}} *ngFor="let y of navdata">
            <div class="nav-bar-item-text">{{y.name}}</div>
        </div> -->
        <div class="logo" routerLink="/home">Calhacks</div>
        <div class="nav-bar-item" >
            <div class="nav-bar-item-text">Hello</div>
        </div>
        <div>
            
            <div class="signout" id="signout">
                Sign Out
            </div>
            <!-- <a *ngIf="userIsLogged" class="btn btn-block btn-primary" (click)="ngAuthService.SignOut()" style="margin-bottom: 10px;background-color:yellowgreen;border: none;"> -->
              <!-- </a> -->
        </div>
    </div>
</nav>