<div class="bgimg-2">
    <div class="caption">
        <div class="toptrans">
            <div class="content">
                <div class="name">
                    CalHacks
                </div>
                <div class="tagline">
                    A safe space for mental health
                </div>
            </div>
        </div>
    </div>
</div>
<div class="topic1">
    <h3>Create A Webinar</h3>
</div>
<div class="form">
    <form id="webinarInputs" style="display: block;">
        <div><input class="transinput" type="text" name="title" placeholder="Meeting Title" style="margin-bottom: 0.5em"
                required="">
        </div>
        <div><input type="text" name="meetingId" placeholder="Meeting ID" style="margin-bottom: 0.5em" required="">
        </div>
        <div><input type="text" name="timings" placeholder="Timings" style="margin-bottom: 0.5em" required=""></div>
        <div><input type="text" name="host" placeholder="Host" style="margin-bottom: 0.5em" required=""></div>
        <div><input type="text" name="description" placeholder="Description" style="margin-bottom: 0.5em" required="">
        </div>
        <button class="submit" (click)="translate()" class="btn btn-get-started"></button>
    </form>
</div>
<div class="output">
    <div *ngIf="translator" class="images">
        <img src="../../assets/images/chocolate.png">
    </div>
</div>
<div>
    <h1 class="topic1"> </h1>
</div>



<div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Designed By Team🙌</p>
</div>