<div class="info-container">
    <app-manasthitinavbar></app-manasthitinavbar>
    <div style="margin-top: 7vh;">
        <h1 class="topic1"> Be Aware </h1>
    </div>

    <div class="container">


        <div class="card mb-3" style="max-width: 700px;">
            <div class="row g-0">

                <div class="card-body" style="width:100%;margin: 20px;">
                    <h5 class="card-title">Posttraumatic stress disorder(PTSD)</h5>
                    <p class="card-text">A disorder characterised by failure
                        to recover after experiencing
                        or
                        witnessing a terrifying event.Symptoms may include nightmares or flashbacks, avoidance of
                        situations that bring back the trauma, heightened reactivity to stimuli, anxiety or
                        depressed mood.</p>
                </div>

            </div>
        </div>



        <div class="card mb-3" style="max-width: 700px;">
            <div class="row g-0">


                <div class="card-body" style="width:100%;margin: 20px;">
                    <h5 class="card-title">Depression</h5>
                    <p class="card-text">Depression (major depressive disorder) is a common and serious medical
                        illness that negatively affects how you feel, the way you think and how you act.
                        Fortunately, it is also treatable. Depression causes feelings of sadness and/or a loss of
                        interest in activities you once enjoyed.</p>

                </div>

            </div>
        </div>

        <div class="card mb-3" style="max-width:700px;">
            <div class="row g-0">


                <div class="card-body" style="width:100%;margin: 20px;">
                    <h5 class="card-title">Anxiety</h5>
                    <p class="card-text">Anxiety is a feeling of fear, dread, and uneasiness. It might cause you to
                        sweat, feel restless and tense, and have a rapid heartbeat.Physical activity, a healthy
                        diet, regular sleep and relaxation exercises may all help to reduce anxiety.</p>

                </div>

            </div>
        </div>


        <div class="card mb-3" style="max-width: 700px;">
            <div class="row g-0">


                <div class="card-body" style="width:100%;margin: 20px;">
                    <h5 class="card-title">Disassociative Identity disorder</h5>
                    <p class="card-text">Dissociative identity disorder, previously called multiple personality
                        disorder, is usually a reaction to trauma as a way to help a person avoid bad memories.
                        Treatment is talk therapy.</p>

                </div>

            </div>
        </div>



        <div class="card mb-3" style="max-width: 700px;">
            <div class="row g-0">


                <div class="card-body" style="width:100%;margin: 20px;">
                    <h5 class="card-title">Schizophrenia</h5>
                    <p class="card-text">A disorder that affects a person's ability to think, feel and behave
                        clearly.Treatment is usually lifelong and often involves a combination of medications,
                        psychotherapy and coordinated speciality care services.</p>
                </div>

            </div>
        </div>

    </div>

    <div>
        <h1 class="topic1"> </h1>
    </div>
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>Designed By Team🙌</p>
    </div>
</div>