.main{
    height:100%;
    max-width: 100vw;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: rgb(231, 83, 83);
    justify-content: space-evenly;

}
.actionBtn {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
  }
  
  .snapshot {
    text-align: center;
    img {
      max-width: 800px;
      max-height: 800px;
    }
  }
  
  ul.links {
    padding-bottom: 20px;
  }
  