<div class="main">
    <div class="quiz">
        <div>
            <h1 style="color: white;">QUESTION 1</h1>
        </div>
        <div class="questions">
            <div class="question">
                <img style="height: 55vh;" src="../../assets/images/boorger.png">
            </div>
            <div class="options">
                <div class="option">
                    Burger
                </div>
                <div class="option">
                    Burger
                </div>
                <div class="option">
                    Burger
                </div>
                <div class="option">
                    Burger
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="dabuttons">
                Next
            </div>
        </div>
        <!-- hellloooooooooooooooooooooooooooo -->
    </div>
</div>