<div class="mainclass">
    <div class="caption">
        <div class="toptrans">
            <div class="content">
                <div class="topic1">
                    Profile
                </div>

            </div>
        </div>
    </div>




    <div class="container">
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">

                            <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg">
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">

                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3>
                        Lexi John<span class="font-weight-light">, 25</span>
                    </h3>
                    <div class="h5 font-weight-300">
                        Romania
                    </div>
                    <div class="h5 mt-4">
                        Software Manager - Creative Officer
                    </div>
                    <div>
                        University of Computer Science
                    </div>
                    <hr class="my-4">
                    <p>Traveller | Enthusiast | Ambitious</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 class="topic1">

        </h1>
    </div>
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>Designed By Team🙌</p>
    </div>

</div>