<div class="main">
    <div class="images">
        <div class="imgtop"></div>

        <div class="whatwedopage">
            <div class="whatwedoimg">
                <div class="title2">
                    What do we do?
                </div>
                <div class="infowhatwedo">
                    We are an interactive platform dedicated to spreading awareness and management about mental health.
                </div>
            </div>
        </div>
    </div>



    <div class="maincont">
        <div class="toptrans">
            <div class="content">
                <div class="name">
                    MentalAlly
                </div>
                <div class="tagline">
                    A safe space for mental health
                </div>
                <div class="custom-btn btn-4">
                    Browse Activities
                </div>
            </div>
        </div>

        <div class="infosec">
            <div class="name2">
                Why is mental health and awareness important?
            </div>
            <div class="info">
                Mental health includes our <span style="color: rgb(208, 178, 241)">emotional, psychological, and
                    social
                    well-being.</span>It affects
                <span style="color: rgb(194, 59, 35)">how we think, </span> <span style="color: rgb(3, 192, 60)">feel,
                </span><span style="color: rgb(243, 154, 39)">and act.</span>It
                also helps determine
                <span style="color: rgb(87, 154, 190)">how we handle stress, relate to
                    others, and make healthy choices. </span> Mental health is <span style="color: rgb(208, 178, 241)">
                    important at every stage of life, from childhood and adolescence
                    through adulthood.</span>
                To make the world more <span style="color: rgb(243, 154, 39)">aware and safe</span>, mental
                health and awareness are <span style="color: rgb(151, 110, 215)">highly important.</span>


            </div>
        </div>
        <div class="whatwedo">

        </div>
    </div>
</div>

<div
    style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify; z-index: 9999999;">
    <p>Designed By Team🙌</p>
</div>