<div class="main">
    <div class="coursesplate">
        <div class="courses">
            <div class="title">
                COMPUTER SCIENCE
            </div>
            <div class="course">
                <img style="height:10vw;"src="../../assets/images/tumbnail.jpg">
            </div>
            <!-- <hr> -->
        </div>
        <div class="courses">
            <div class="title">
                COMPUTER SCIENCE
            </div>
            <div class="course">
                <img style="height:10vw;"src="../../assets/images/tumbnail.jpg">
            </div>
            <!-- <hr> -->
        </div>
        <div class="courses">
            <div class="title">
                COMPUTER SCIENCE
            </div>
            <div class="course">
                <img style="height:10vw;"src="../../assets/images/tumbnail.jpg">
            </div>
            <!-- <hr> -->
        </div>
        <div class="courses">
            <div class="title">
                COMPUTER SCIENCE
            </div>
            <div class="course">
                <img style="height:10vw;"src="../../assets/images/tumbnail.jpg">
            </div>
            <!-- <hr> -->
        </div>
    </div>
    <div class="courseinfo">

    </div>
</div>
