<div class="main">
    <app-snavbar></app-snavbar>
    <div class="images">
        <div class="imgtop"></div>

        <div class="whatwedopage">
            <div class="whatwedoimg">
                <div class="title2">
                    What do we do?
                </div>
                <div class="infowhatwedo">
                    We are an interactive platform dedicated to spreading awareness about deafness and hearing imparied people.
                </div>
            </div>
        </div>
    </div>

    <!-- <div class = "randomimg"></div> -->

    <div class="maincont">
        <div class="toptrans">
            <div class="content">
                <div class="name">
                    Signs
                </div>
                <div class="tagline">
                    Challenges faced by the deaf
                </div>
                <div class="custom-btn btn-4">
                    Browse Activities
                </div>
            </div>
        </div>

        <div style="color: #777;background-color:#D1E8E2;text-align:center;padding:50px 80px;text-align: justify;">
            <h2 style="text-align:center;font-family: Georgia, 'Times New Roman', Times, serif;">What do we do?</h2>
            <p class="info">We provide awareness and help people learn abobt the life and challenges faced by hearing imparied people. We plan to make people aware so that they are
                more inclusive of the needs and wants of the hearing impaired.
            </p>
        </div>
        <div class="whatwedo">

        </div>
    </div>
</div>

<div
    style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify; z-index: 9999999;">
    <p>Designed By Team🙌</p>
</div>