.main {
    max-height: 100vh;
    width: 100vw;
    // overflow-x: hidden;
    // overflow: hidden;
}

.images {
    position: absolute;
    top: 0;
    width: 100%;
    height: 340vh;
}
.imgtop {
    position: sticky;
    height: 100vh;
    width: 100%;
    top: 0;
    // left: 0;
    background-image: url("../../assets/images/deaf.jpg");
    background-size: 100% 100%;
}

.whatwedopage {
    position: sticky;
    top: 0;
    margin-top: 10vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.whatwedoimg {
    background-color: rgba(0, 0, 0, 0.3);
    
    color: white;
    background-image: url("../../assets/images/orange.jpg");
    background-size: 100% 100%;
    margin-top: 0vh;
    padding: 5%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.maincont {
    position: absolute;
    top: 0;
    width: 100%;
    // background-color: aqua;
}
.toptrans {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: aqua;
}

.infosec {
    height: 70vh;
    width: 100%;
    background-color: white;
    // padding: 2%;
}

.whatwedo{
    height: 50vh;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
}

.spaces{
    height: 90vh;
    width: 100%;
    background-color: white;
}

.content{
    height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.name{
    font-family: country;
    color: white;
    font-size: 800%;

}

.tagline{
    font-family: country;
    color: white;
    font-size: 200%;
}

.name2{
    font-family: country;
    color: black;
    font-size: 250%;
    align-items: center;
    text-align: center;
    // width: 100%;
    // margin: 2%;
    padding: 2%;
}

.info{
    font-size: 140%;
    font-family: country;
    color: black;
    font-size: 170%;
    padding: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    // line-height: 10vh;
}

.title2{
    font-size: 200%;
    color: black;
    text-align: center;
    font-family: country;
    width: 20vw;
    margin-left: 70%;
}

.infowhatwedo{
    padding: 2% 0;
    margin-left: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20vw;
    line-height: 5vh;
    text-align: center;
    font-size: 150%;
    
}

.spacespace{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.space{
    background-color: rgb(233, 233, 233);
    height: 30vh;
    width: 20vw;
    margin: 2% 10%;
}

.space:hover{
    transform: perspective(200px) translateZ(20px);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.spaceimg{
    width: 100%;
    height: 80%;
    // background-color: aqua;
    font-size: 800%;
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aqua;
}

.namespace{
    font-size: 200%;
    text-align: center;
}

.custom-btn {
    width: fit-content;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 120%;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  
.btn-4 {
    background-color: #116466;
  background-image: linear-gradient(315deg, #116466 0%, #62b8b9 74%);
    line-height: 42px;
    padding: 2vh;
    border: none;
  }
  .btn-4:hover{
    // background-color: #89d8d3;
    background-image: linear-gradient(315deg, #62b8b9 0%, #116466 74%);
  }
  .btn-4 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-4:before,
  .btn-4:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4:before {
    height: 0%;
    width: .1px;
  }
  .btn-4:after {
    width: 0%;
    height: .1px;
  }
  .btn-4:hover:before {
    height: 100%;
  }
  .btn-4:hover:after {
    width: 100%;
  }
  .btn-4 span:before,
  .btn-4 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.9),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
  }
  .btn-4 span:before {
    width: .1px;
    height: 0%;
  }
  .btn-4 span:after {
    width: 0%;
    height: .1px;
  }
  .btn-4 span:hover:before {
    height: 100%;
  }
  .btn-4 span:hover:after {
    width: 100%;
  }